* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    background: -o-linear-gradient(-135deg, #54ca82, #4158d0);
    background: -moz-linear-gradient(-135deg, #54ca82, #4158d0);
    background: linear-gradient(-135deg, #54ca82, #4158d0);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 35s ease infinite;
    -moz-animation: AnimationName 35s ease infinite;
    animation: AnimationName 35s ease infinite;
    font-family: 'FranchiseRegular','Arial Narrow',Arial ,sans-serif;
    font-size: 22px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  

.container {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-forgot {
    width: 500px;
    height: 480px;
    background: rgb(245, 242, 242);
    border-radius: 20px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-title {
    text-align: center;
    font-size: 35px;
}

.forgot-form-validate {
    margin: auto;
    margin-top: 10px;
    width: 85%;
}

#forgot-password-href {
    width: 100%;
    text-align: center;
    background-color: rgba(12, 182, 117, 0.2);
    margin-top: 30px;
    height: 40px;
}

#create-account {
    color: limegreen;
}

#forgotPassword {
    color: rgb(114, 104, 104);
    font-size: smaller;
    margin: auto;
    padding-left: 250px;
}

.forgot-password-response {
    background-color: rgba(12, 182, 117, 0.2);
    width: 100%;
    margin: 10px;
}

#password-response{
    text-align: center;
    margin: auto;
}